body {
  overflow-x: hidden;
  text-align: center;
  background-color: #ED4337;
}

#title {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/*Headings*/

.big-heading-top {
  color: white;
  font-size: 4rem;
  height: 1.5;
  margin-top: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.big-heading-bottom {
  color: white;
  font-size: 4rem;
  height: 1.5;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}


/* section colours */

.red-section {
  background-color: #ED4337;
  color: white;
}

.white-section {
  background-color: white;
}

.grey-section {
  background-color: #808080;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.container-fluid {
  padding: 3% 5% 8% 3%;
}

.container-fluid-req {
  padding: 3% 5% 4% 3%;
  text-align: center;
}

.navbar {
  padding-bottom: 4rem;
  padding-right: -20px;
}

.nav-item {
  padding: 0 11px;
}

.nav-link{
  font-size: 15px;
  color: white !important;
}

.nav-link:hover {
  color: rgb(0, 0, 0) !important;
}


.dnld-btn {
  margin: 30px 10px;
}

.title-icon {
  width: 100%;
  font-size: 30rem;
  text-align: center;
  margin-top: 20px;
  display: block;
}

#features {
  position: relative;
  z-index: 1;
  color: black;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.feature-icon {
  color: #ED4337;
  font-size: 4rem;
}

.feature-icon:hover {
  color: #Ff6154;
}

.ind-col {
  padding: 70px;
}

p {
  color: black;
}

/* testimonials */
#testimonials {
  color: white;
}

.testimonial-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 60%;
  border-radius: 100%;
  margin: 3rem;
}


.carousel-inner {
  padding: 2% 15%;
}

#press {
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

#pricing {
  padding: 75px;
}

.price-heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.price {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
    margin: auto;
  }


}

#cta {
  padding: 30px;
}

.cta-txt {
  font-size: 35px;
  color: white;
}

.button {
  margin: 20px;
}

#footer {
  font-size: 12px;
}

.social-icons {
  margin: 30px 10px 20px 5px;
}

.heading-correction {
  margin-left: 2rem;
}

.subheading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text-col {
  padding: 10px 30px;
}

.persona-heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 30px;
  color: white;
}

.tech-rev-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 30px;
  padding-top: 30px;
  color: white;
}

.mosc-displ {
  display: none;
}



.func-buttons {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ED4337, #ED4337);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  margin: 20px 0;
}


.func-buttons:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.have-text {
  display: flex;
  margin-left: 3rem;
}


.abstract-text {
  margin-top: 30px;
}

.video-section {
  padding: 2%;
}

.gantt-chart {
  margin: 30px 0;
  width: 70%;
  height: 100%;
}

.gantt-title {
  margin-top: 40px;
}

.pers-img {
  width: 75%;
}

.mosc-head {
  margin-top: 0;
}

.footer-cont {
  position: relative;
  height: 100%;
}

.footer-link-pad {
  padding: 20px 0;
}

.bott-text {
  color: white;
}

.general-container {
  padding: 3%;
}

.raw-data-st-sec {
  color: white;
}

.req-list {
  text-align: left;
}

.req-ans {
  margin-left: 50px;
}

.mscw-pic {
  width: 55%;
}

.ref-text {
  font-size: 15px;
  text-align: left;
  margin-left: 2rem;
}

.sub-subheading {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.sys-arch-steps {
  margin: 2rem;
}

.sys-arch-pic {
  width: 100%;
  text-align: center;
  margin: auto;
}

.btsp-img {
  width: 90%;
  margin-right: 30px;
}

.ind-cont {
  width: 55%;
}

.achievements {
  width: 50%;
}

.fut-list {
  text-align: left;
  margin-left: 50px;
}

.text-dep-man {
  text-align: left;
}


.persona-blog {
  text-align: center;
  width: 100%;
  display:inline;
}

.tree-diag {
  width: 25%;
}

.tree-diag-blog {
  width: 50%
}

.g5-pic {
  width: 100%;
}

.blog-mosc-3 {
  width: 75%;
}

.dropbtn {
  background-color: #ED4337;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}

.blog-entry {
  display: none;
}

.dropdown-container {
  text-align: right;
}

.title-image {
  margin: 20px 0;
}

.month-vid-link {
  margin: 0 2rem;
}

.analysis-list {
  text-align: left;
}

.main-tech-img {
  margin: 0 2rem;
}

.github-link-big {
  font-size: 7rem;
  color: #ED4337;
}

.github-link-big:hover {
  color: #Ff6154;
}

.footer-link {
  margin: 0 1rem;
  color: white;
}

.footer-link:hover {
  color: black;
}

.card-body-extra {
  min-height: 400px;
}